<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>예시</h1>
<span th:text="${data}">html data</span>
<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>
소스 보기에서는 보이지만, 브라우저에서는 보이지 않는 주석
-->
<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->
<!--/*-->
<span th:text="${data}">html data</span>
아예 삭제되는 주석 -> 이걸 제일 많이 사용
<!--*/-->
<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/
파일에 직접 접근할 때만 처리되는 주석
/*/-->
</body>
</html>